body {
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 0.875em;
}

.center {
    text-align: center;
    color: red;
}

hr {
    height: 2rem;
}

/* --------------------- a-Element as link */
a {
    color: blue;
    text-decoration: underline;
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}