body {
    font-family: Arial, Helvetica, sans-serif;

}

.my-row {
    /*padding-bottom: 1rem;*/
    margin: 0.5rem;
    border-width: 0.1rem;
    /*border-radius: 1rem;*/
}

.story-text {
    padding: 0.625rem;
}

p, label, span {
    font-size: 1rem;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.card {
    width: 100%;
    padding: 1rem;
}


.a-link {
    color: blue;
    text-decoration: underline;
}

/* unvisited link */
.a-link:link {
    color: blue;
}

/* visited link */
.a-link:visited {
    color: red;
}

/* mouse over link */
.a-link:hover {
    color: hotpink;
}

/* selected link */
.a-link:active {
    color: blue;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: lightgrey;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: lightgrey;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* Likert Skala */
.statement {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large
}
.feedback {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: medium
}

legend {
    text-align: center;
    margin-bottom: 20px;
}

.likert-table {
    width: 100%; /* Die Tabelle nimmt die volle Breite des umgebenden Elements ein */
    border-collapse: collapse; /* Entfernt den Abstand zwischen den Zellen */
}

.likert-table td {
    text-align: center; /* Zentriert den Inhalt der Zellen */
    padding: 4px; /* Fügt einen kleinen Abstand um die Zelleninhalte hinzu */
}

.likert-table .label-left {
    text-align: left; /* Links ausrichten für das erste Label */
    font-weight: bold;
}

.likert-table .label-right {
    text-align: right; /* Rechts ausrichten für das letzte Label */
    font-weight: bold;
}

.likert-table .label-center {
    text-align: center; /* Mittig ausrichten für das Feedback Label */
    font-weight: normal;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5); /* Vergrößert die Radio-Buttons */
    margin: 0; /* Entfernt den Standardabstand */
}

.table-border-top {
    border-top: solid thin;
    border-color: darkgrey;
}

.form-element-even, .form-element-odd {
    background-color: rgba(248, 180, 140, 0.2);
    padding: 0.6rem;
    border-radius: 1rem;
}


/* Position the image container (needed to position the left and right arrows) */
.image-container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/* slider instade of likert scale */
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Für Tablets */
@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        margin: 5% auto;
    }
}

/* Für Smartphones */
@media (max-width: 480px) {
    .container-fluid {
        padding: 0;
    }
    .card {
        padding: 0;
        margin: 0;
        border: 0;
    }

    .card-title {
        font-size: 1.5em;
    }

    .card-text {
        font-size: 0.9em;
    }
    input[type="radio"] {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Chrome, Safari, Opera */
        transform: scale(1); /* Vergrößert die Radio-Buttons */
        margin: 0; /* Entfernt den Standardabstand */
    }

    .feedback {
        font-weight: normal;
        font-size: medium;
    }

    .likert-table .label-left {
        font-size: 0.9em;
        font-weight: normal;
    }

    .likert-table .label-right {
        font-size: 0.9em;
        font-weight: normal;
    }

    .likert-table .label-center {
        font-size: 0.9em;
        font-weight: normal;
    }
}