<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

  <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.0/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{webjars/jquery/3.7.1/jquery.min.js}"></script>

  <title>Willkommen zu meiner Studie</title>
</head>
<body>
<div class="container-fluid">
  <h2>Vielen Dank für deine Teilnahme</h2>
  <br>
  <p th:text="${person.getAge()}"></p>
  <p th:text="${person.getEducation().getTitle()}"></p>
  <p th:text="${person.getEducationDirection().getTitle()}"></p>
  <p>
    Vielen Dank, dass du an der Studie für meine Masterarbeit teilgenommen hast.
  </p>
</div>
</body>
</html>