<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}"/>
    <link href="webjars/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>

    <title>Deine Daten</title>
</head>
<body>
<div class="container-fluid" style="text-align: center;">
    <h2>Infos zu deiner Person</h2>
    <p>Für die Auswertung der Studie benötige ich noch ein paar Angaben von dir:</p>
    <form id="personalInformation" th:action="@{/testPage}" method="get">
        <label for="age">Dein Alter: </label>
        <input form="personalInformation" type="number" id="age" placeholder="Bitte gib an, wie alt du bist.">
        <br>
        <label for="education">Deinen Ausbildungsstand: </label>
        <input form="personalInformation" type="text" id="education" >
        <br>
        <label for="educationDirection">Deine Ausbildungsrichtung: </label>
        <input form="personalInformation" type="text" id="educationDirection" >

        <hr>

        <h4>Deine Aufgabe:</h4>
        <p>Mit dem Klick auf den folgenden Button wirst du zur Webseite weitergeleitet.
            <br>Scrolle diese bitte von oben nach unten durch und schaue dir die Inhalte gut an.
            <br>Am Ende der Seite findest du einen Button, der dich zum Fragebogen dieser Studie führt.</p>

        <input form="personalInformation" class="btn btn-primary" type="submit" value="Weiter zur Webseite">
    </form>
</div>
</body>
</html>